{% extends 'website/base.html' %}
{% load markdown_deux_tags %}

{% block title %} wtchcrft {% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="post">
            <a href="{% url 'post' post.id %}">
                <h1>{{ post.title }}</h1>
            </a>
            {% if post.image %}
            <img class="featured" src="{{ MEDIA_URL}}{{ post.image }}"/>
            {% endif %}
            <div class="content">
                {{ post.post | markdown }}
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
