@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i|Raleway:700');

body.wtchcrft {
    color: #eee;
    background: black;
    background-image: url("/static/images/zwartevilt.png");
    background-attachment: fixed;
    font-family: 'Alegreya', serif;
}

body.wtchcrft .post {
    position: relative;
    max-width: 700px;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}

body.wtchcrft .pagination {
    display: block;
    clear: both;
    max-width: 700px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: lowercase;
    border-top: 1px dotted #333;
    padding-top: 10px;
    margin-top: 15px;
}

body.wtchcrft div.content.container {
    margin-top: 50vh;
    margin-left: 25%;
}

body.wtchcrft img.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    opacity: 0.1;
}

body.wtchcrft h1,
body.wtchcrft h2,
body.wtchcrft h3,
body.wtchcrft h4 {
    font-family: 'Raleway', sans-serif;
}

body.wtchcrft h1 {
    margin-bottom: 15px;
    display: inline-block;
    padding-bottom: 5px;
}

body.wtchcrft a {
    text-decoration: none;
    color: white;
    border-bottom: 1px dotted #333;
    transition: 300ms all;
}

body.wtchcrft a:hover {
    border-bottom: 1px solid white;
}

body.wtchcrft .post img.featured {
    position: absolute;
    left: -30%;
    max-width: 25%;
    width: 200px;
    border-radius: 25px;
    opacity: 0.75;
    transition: 300ms all;
}

body.wtchcrft .post img:hover {
    opacity: 1;
}
